.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header, .App-footer {
  background-color: #222;
  padding: 20px;
  color: white;
}
.App-header a, .App-footer a {
  color: yellow;
}

.inline {
  display: inline-block;
}

.line {
  fill: none;
  stroke: black;
  stroke-width: 5px;
}

svg {
  display: block;
  margin: auto;
  padding-left: 35px;
}

h3 {
  margin-bottom: 15px;
}
select {
  margin-bottom: 50px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
